:root {
    font-family: 'JetBrains Mono', serif;
    height: 100%;
    width: 100%;

    color: #F4FAEA;
    background-color: #12140F;

    a {
        color: #F4FAEA;
        text-decoration: none;
    }

    .button-normal-style {
        border: 1px solid #F4FAEA;
        border-radius: 15px;

        padding: 10px 20px;

        background-color: #F4FAEA;
        color: #12140F;

        font-weight: bold;
        font-family: 'JetBrains Mono', serif;
        font-size: small;
    }
}