:root {
  font-family: "JetBrains Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color: #F4FAEA;
  background-color: #12140F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


