.list {
    border: 1px solid #F4FAEA;
    border-radius: 15px;
    max-width: 600px;
    min-width: 300px;
    width: 85vw;
    max-height: 80px;
    min-height: 80px;
    margin-bottom: 15px;
    cursor: pointer;
}

.list .listTitle {
    font-weight: bold;
    margin: 5px 10px 0;
    font-size: 20px;
    width: fit-content;
    cursor: text;
}

.list input {
    font-weight: bold;
    margin: 1px 8px 0;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: #F4FAEA;
}

.list .listDescription {
    font-size: 13px;
}

.list .listDescription p {
    margin: 0 10px;
}

.list .listDescription .pendingText {
    margin-bottom: 5px;
}

.list .listPriority {
    height: 60px;
    width: 60px;
    align-content: center;
    text-align: center;
    float: right;
    background-color: #E91C2A;
    border-radius: 10px;
    transform: translateY(10px);
    margin-right: 10px;
}

.list .listPriority p {
    margin: 0;
    color: #000000;
    font-size: 23px;
}