.task-container {
    width: 35%;

    display: flex;
    align-items: center;

    padding: 5px;
    margin-bottom: 15px;

    img {
        height: 30px;
        width: 30px;

        margin-right: 10px;
    }

    .task-content {
        width: 100%;
        border-bottom: 1px solid #F4FAEA;
        border-left: 1px solid #F4FAEA;

        border-bottom-left-radius: 15px;

        padding-left: 5px;

        .task-title-area {
            display: flex;
            align-items: center;

            h4 {
                width: fit-content;
            }

            img {
                margin-left: 10px;
            }

            img:hover {
                cursor: pointer;
            }

            input {
                margin: 21px 0;
                font-size: 16px;
            }
        }

        .task-description-area {
            .description {
                width: 65% !important;
                display: block;
                float: right;
                overflow-wrap: break-word;
            }

            .task-date-info {
                width: 35%;
                height: fit-content;

                float: right;

                border-left: 1px solid #F4FAEA;
                border-bottom: 1px solid #F4FAEA;
                border-bottom-left-radius: 15px;

                margin: 16px 0;

                p {
                    font-size: 10px;
                    margin-left: 10px;
                    text-wrap: nowrap;
                }
            }
        }
    }
}