.taskItem {
    max-width: 400px;
    min-width: 300px;
    width: 85vw;
    border-bottom: 1px solid #656763;
    margin-bottom: 5px;
}

.taskItem .firstRow {
    display: flex;
    align-items: center;
}

.taskItem h3 {
    margin: 5px;
}

.taskItem .checkmark:hover {
    cursor: pointer;
}

.taskItem .invisible {
    height: 0;
    display: none;
}

.taskItem .taskDescription {
    margin: 0 5px 5px 5px;
    width: 100%;
    text-wrap: wrap;
    font-weight: lighter;
}